# PyCharm / JetBrains (настройки IDE)
.idea/
*.iws

# Python кэш и байт-код
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
.venv/
env/
ENV/

# Переменные окружения (секреты)
.env
.secrets

# Файлы отладки
*.log

# Опционально: сгенерированная документация или отчеты покрытия
htmlcov/
.tox/
.coverage
.cache
